
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h1>User list</h1>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        <tr th:each="msg : ${userList}">
            <th th:text="${msg.getName()}"></th>
            <th th:text="${msg.getLastName()}"></th>
            <th th:text="${msg.getEmail()}"></th>
            <td>
                <a th:href="@{/{id}/edit(id=${msg.getId()})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/{id}/remove(id=${msg.getId()})}">Delete</a>
            </td>

        </tr>
    </table>
</div>
<form action="user-create" target="_blank">
    <button>Create user</button>
</form>
</div>
</body>
</html>
</div>
</body>
</html>